# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=ващ_токен_бота

# Redis Settings
REDIS_URL=redis://redis:6379/0

# Database Service Settings
DB_SERVICE_URL=http://db-service:8000

# PostgreSQL Settings (User Data)
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ваш_пароль
POSTGRES_DB=user_bots

# ClickHouse Settings (OSINT Data)
CH_HOST=host.docker.internal
CH_PORT=8123
CH_USER=default
CH_PASSWORD=ваш_пароль
CH_DATABASE=default

